<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Introduction to Rails and AngularJS - Giovanni Sakti (@giosakti)</title>

    <meta name="description" content="Rails and AngularJS Integration">
    <meta name="author" content="Giovanni Sakti">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/night.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">

        <section>
          <h2>Rails and AngularJS</h2>
          <h3>An Introduction</h3>
          <p>
            <small>Created by Giovanni Sakti</a> / <a href="http://twitter.com/giosakti">@giosakti</a></small>
          </p>
          <p>
            <small>Starqle Indonesia / <a href="http://starqle.com">http://starqle.com</a></small>
          </p>
        </section>

        <section>
          <p>
            This presentation is a subset of my blog <br/><strong>"Integrating Rails and AngularJS"</strong> series. <br/><br/>You may find these following resources helpful:
          </p>
          <ol>
            <li><a href="http://mightygio.com/2013/03/integrating-rails-and-angularjs-part-1-structure/">http://mightygio.com</a> - Original article</li>
            <li><a href="https://github.com/giosakti/rails_angular_integration_example">https://github.com/giosakti/rails_angular_integration_example</a> - Accompanying app</li>
            <li><a href="https://github.com/giosakti/rails_angular_integration">https://github.com/giosakti/rails_angular_integration</a> - This presentation</li>
          </ol>
        </section>

        <section>
          <h2>Towards "API-driven" <br/>Development</h2>
        </section>

        <section>
          <section>
            <h2>What is <br/> "API-driven" Development?</h2>
          </section>

          <section>
            <img src="/images/database-application-rel.png" alt="database-application-rel" style="background-color:transparent;border:none;">
          </section>

          <section>
            <img src="/images/database-api-application-rel.png" alt="database-api-application-rel" style="background-color:transparent;border:none;">
          </section>

          <section>
            <h2>Resource Oriented <br/>Architecture (ROA)</h2>
          </section>
        </section>

        <section>
          <img src="/images/database-api-web-rel.png" alt="database-api-web-rel" style="background-color:transparent;border:none;">
        </section>

        <section>
          <section>
            <h1>Why Rails?</h1>
            <small>These are hugely opinionated reasons</small>
          </section>

          <section>
            <h1>Team Familiarity</h1>
          </section>

          <section>
            <h1>Excellent <br/>feature-set</h1>
            <small>gems, asset pipeline, etc</small>
          </section>

          <section>
            <h2>Downsides</h2>
            <ul>
              <li class="fragment">Performance (perhaps) not that great</li>
              <li class="fragment">Too heavy</li>
              <li class="fragment">Not optimized for building API</li>
            </ul>
          </section>
        </section>

        <section>
          <section>
            <h1>Why AngularJS?</h1>
            <small>These are also hugely opinionated reasons</small>
          </section>

          <section>
            <h1>Baked by Google</h1>
          </section>

          <section>
            <h1>Active and Large Community</h1>
          </section>

          <section>
            <h1>Interesting <br/>Concept</h1>
          </section>

          <section>
            <h2>Downsides</h2>
            <ul>
              <li class="fragment">Documentation is meh</li>
              <li class="fragment">Learning curve</li>
            </ul>
          </section>
        </section>

        <section>
          <h1>Steps</h1>
        </section>

        <section>
          <section>
            <h1>1. Starting Out</h1>
          </section>

          <section>
            <h2>Create new Rails application</h2>
          </section>

          <section>
            <h2>Include libraries</h2>
            <ol>
              <li>angular.js</li>
              <li>angular-resource.js</li>
              <li>angular-ui-states.js (optional)</li>
              <li>ng-grid (optional)</li>
              <li>ui-bootstrap-tpls (optional)</li>
              <li>jquery (optional)</li>
            </ol>
          </section>

          <section>
            <pre><code data-trim contenteditable>
rails g controller home index --skip-stylesheets --skip-javascripts
            </code></pre>
            <pre><code data-trim contenteditable>
ProjectOne::Application.routes.draw do
  root to: 'home#index'
end
            </code></pre>
            <pre><code data-trim contenteditable>
rm public/index.html
            </code></pre>
            <pre><code data-trim contenteditable>
&lt;!DOCTYPE html&gt;
&lt;html ng-app=&quot;app&quot;&gt;
  &lt;head&gt;
    &lt;title&gt;ProjectOne&lt;/title&gt;
    &lt;%= stylesheet_link_tag    &quot;application&quot;, :media =&gt; &quot;all&quot; %&gt;
    &lt;%= javascript_include_tag &quot;application&quot; %&gt;
    &lt;%= csrf_meta_tags %&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;%= yield %&gt;
  &lt;/body&gt;
&lt;/html&gt;
            </code></pre>
            <pre><code data-trim contenteditable>
cat > app/views/home/index.html.erb
            </code></pre>
          </section>

          <section>
            <pre><code data-trim contenteditable>
# Create 'app' angular application (module)
@app = angular.module("app", [
  # ngResource
  "ngResource",

  # ui-router
  "ui.compat"
])
            </code></pre>
          </section>

          <section>
            <pre><code data-trim contenteditable>
group :assets do
  # HTML & CSS replacement
  gem 'haml-rails', '~> 0.4'
  gem 'sass-rails', '~> 3.2.6'
 
  # JS replacement
  gem 'coffee-rails', '~> 3.2.2'
 
  # JS interpreter
  gem 'therubyracer', '~> 0.11.3', platform: :ruby
  gem 'therubyrhino', '~> 2.0.2', platform: :jruby
 
  # Misc
  gem 'uglifier', '~> 1.3.0'    # wrapper for UglifyJS JavaScript compressor
end
            </code></pre>
          </section>
        </section>

        <section>
          <section>
            <h1>2. Structure</h1>
          </section>

          <section>
            <pre><code data-trim contenteditable>
assets
-- javascripts
---- app
------ controllers
------ directives
------ filters
------ resources
------ services
------ main.js.coffee
---- config
---- application.js
            </code></pre>
          </section>

          <section>
            <pre><code data-trim contenteditable>
app.config ($httpProvider) ->
  authToken = $("meta[name=\"csrf-token\"]").attr("content")
  $httpProvider.defaults.headers.common["X-CSRF-TOKEN"] = authToken
            </code></pre>
          </section>
        </section>

        <section>
          <section>
            <h1>3. Your first CRUD</h1>
          </section>

          <section>
            <pre><code data-trim contenteditable>
rails g model Task title:string description:text
rake db:migrate
rails g controller api/tasks --skip-stylesheets --skip-javascripts
            </code></pre>

            <pre><code data-trim contenteditable>
class Api::TasksController < Api::BaseController
  respond_to :json

  def index
    respond_with :api, Task.all
  end
 
  def show
    respond_with :api, Task.find(params[:id])
  end
 
  def create
    respond_with :api, Task.create(params[:task])
  end
 
  def update
    respond_with :api, Task.update(params[:id], params[:task])
  end
 
  def destroy
    respond_with :api, Task.destroy(params[:id])
  end
end
            </code></pre>

            <pre><code data-trim contenteditable>
...
namespace :api do
  resources :tasks
end
...
            </code></pre>
          </section>

          <section>
            <pre><code data-trim contenteditable>
app.controller "TasksController", ($scope, $http, $location, $state, $stateParams, Task) ->

  # =========================================================================
  # Initialize
  # =========================================================================

  $scope.tasks = {}
  $scope.task = {}

  # =========================================================================
  # Show
  # =========================================================================

  if $state.current.name == 'tasks'
    Task.query(
      {}
      
      # Success
    , (response) ->
      $scope.tasks = response

      # Error
    , (response) ->
    )

  if $state.current.name == 'show'
    Task.get
      id: $stateParams['id']

      # Success
    , (response) ->
      $scope.task = response

      # Error
    , (response) ->

  # =========================================================================
  # Create
  # =========================================================================

  $scope.create = ->
    Task.save(
      {}
    , task:
        title: $scope.task.title
        description: $scope.task.description

      # Success
    , (response) ->
      $location.path "/tasks"

      # Error
    , (response) ->
    )

  # =========================================================================
  # Update
  # =========================================================================

  if $state.current.name == 'edit'
    Task.get
      id: $stateParams['id']

      # Success
    , (response) ->
      $scope.task = response

      # Error
    , (response) ->

  $scope.update = ->
    Task.update
      id: $stateParams['id']
    , task:
        title: $scope.task.title
        description: $scope.task.description

      # Success
    , (response) ->
      $location.path "/tasks"

      # Error
    , (response) ->

  # =========================================================================
  # Destroy
  # =========================================================================

  $scope.destroy = (id) ->
    Task.delete
      id: id

      # Success
    , (response) ->
      i = 0
      while i < $scope.tasks.length
        if $scope.tasks[i]['id'] is id
          $scope.tasks.splice(i,1)
        i++

      # Error
    , (response) ->

            </code></pre>
          </section>

          <section>
            <pre><code data-trim contenteditable>
# Configure 'app' routing. The $stateProvider and $urlRouterProvider
# will be automatically injected into the configurator.
app.config ($stateProvider, $urlRouterProvider) ->

  # Make sure that any other request beside one that is already defined
  # in stateProvider will be redirected to root.
  $urlRouterProvider
    .otherwise("/")

  # Define 'app' states
  $stateProvider
    .state "default",
      abstract: true
      views:
        "":
          controller: "ApplicationController"
          templateUrl: "/assets/layouts/default.html.erb"

    # Tasks
    .state "tasks",
      parent: "default"
      url: "/tasks"
      views:
        "":
          controller: "TasksController"
          templateUrl: "/assets/tasks/index.html.erb"

    .state "new",
      parent: "tasks"
      url: "/new"
      views:
        "@default":
          controller: "TasksController"
          templateUrl: "/assets/tasks/new.html.erb"

    .state "edit",
      parent: "tasks"
      url: "/:id/edit"
      views:
        "@default":
          controller: "TasksController"
          templateUrl: "/assets/tasks/edit.html.erb"
            </code></pre>
          </section>

          <section>
            <pre><code data-trim contenteditable>
&lt;ul&gt;
  &lt;li ng-repeat=&quot;task in tasks&quot;&gt;
    Title: {{task.title}} &lt;br/&gt;
    Description: {{task.description}}
    &lt;a href=&quot;/tasks/{{task.id}}/edit&quot;&gt;Ubah&lt;/a&gt;
    &lt;a href=&quot;&quot; ng-click=&quot;destroy(task.id)&quot;&gt;Hapus&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;

&lt;a href=&quot;/tasks/new&quot;&gt;Add new task&lt;/a&gt;
            </code></pre>
            <pre><code data-trim contenteditable>
&lt;input type=&quot;hidden&quot; ng-model=&quot;task.id&quot; /&gt;

&lt;label for=&quot;title&quot;&gt;Title&lt;/label&gt;
&lt;input type=&quot;text&quot; ng-model=&quot;task.title&quot; /&gt;

&lt;label for=&quot;description&quot;&gt;Description&lt;/label&gt;
&lt;input type=&quot;text&quot; ng-model=&quot;task.description&quot; /&gt;

&lt;button type=&quot;submit&quot;&gt;Save&lt;/button&gt;
            </code></pre>
            <pre><code data-trim contenteditable>
&lt;form ng-submit=&quot;create()&quot;&gt;
  &lt;ng-include src=&quot;'/assets/tasks/_form.html.erb'&quot; /&gt;
&lt;/form&gt;
            </code></pre>
            <pre><code data-trim contenteditable>
&lt;form ng-submit=&quot;update()&quot;&gt;
  &lt;ng-include src=&quot;'/assets/tasks/_form.html.erb'&quot; /&gt;
&lt;/form&gt;
            </code></pre>
          </section>
        </section>

        <section>
          <section>
            <h1>4. Authentication</h1>
          </section>

          <section>
            <h1>You can use <br/>Devise</h1>
          </section>

          <section>
            <h1>Token based <br/>authentication</h1>
            <small>Every request must be wrapped by token</small>
          </section>

          <section>
            <pre><code data-trim contenteditable>
app.factory "AuthTokenHandler", () ->
  authTokenHandler = {}
  authToken = "none"

  # Getter / setter
  authTokenHandler.get = () ->
    return authToken
  authTokenHandler.set = (newAuthToken) ->
    authToken = newAuthToken

  # Wrap every actions in a resource with tokenWrapper function
  # Returns wrappedResource
  authTokenHandler.wrapActions = (resource, actions) ->
    wrappedResource = resource

    i=0
    while i < actions.length
      tokenWrapper wrappedResource, actions[i]
      i++

    wrappedResource

  # Wrap an action in a resource with auth_token
  # Treat each kind of action accordingly
  tokenWrapper = (resource, action) ->
    resource['_' + action] = resource[action]

    if action in ['save', 'update']
      resource[action] = (params, data, success, error) ->
        resource['_' + action] angular.extend({}, params or {},
          auth_token: authTokenHandler.get()
        ), data, success, error
    else
      resource[action] = (params, success, error) ->
        resource["_" + action] angular.extend({}, params or {},
          auth_token: authTokenHandler.get()
        ), success, error

  return authTokenHandler
            </code></pre>
          </section>

          <section>
            <h1>Interval Pinging</h1>
          </section>
        </section>

        <section>
          <section>
            <h1>What's next?</h1>
          </section>

          <section>
            <h1>Testing</h1>
          </section>

          <section>
            <h1><a href="http://egghead.io">http://egghead.io</a></h1>
            <p>
              "Railscasts" for AngularJS
            </p>
          </section>

          <section>
            <h1>Check <a href="https://github.com/intridea/grape">grape</a>!</h1>
            <p>
              An opinionated micro-framework for creating REST-like APIs in Ruby.
            </p>
          </section>
        </section>

        <section>
          <h1>Let's Discuss!</h1>
          <p>
            <small>By Giovanni Sakti</a> / <a href="http://twitter.com/giosakti">@giosakti</a></small>
          </p>
          <p>
            <small>Starqle Indonesia / <a href="http://starqle.com">http://starqle.com</a></small>
          </p>
        </section>

      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
          // { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
          // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

  </body>
</html>
